/* Global */

@font-face {
  font-family: 'Bobaland'; 
  src: url('/fonts/Bobaland.ttf') format('truetype'),
}

@font-face {
  font-family: 'Bubblegum'; 
  src: url('/fonts/Bubblegum.ttf') format('truetype'), 
}

@font-face {
  font-family: 'Super Cereal'; 
  src: url('/fonts/Super Cereal.ttf') format('truetype'), 
}

@font-face {
  font-family: 'Hey Comic'; 
  src: url('/fonts/Hey Comic.ttf') format('truetype'), 
}

#app {
  background-image: url('/bg.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-attachment: fixed;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: rgba(255, 255, 255, 0);
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Super Cereal';
  font-size: 200px;
  color: rgb(245, 230, 216); 
  margin-bottom: 20px;
font-style: italic;
 text-shadow: 4px 4px 6px rgb(58, 0, 112);
 margin-bottom: 400px;
}

.description {
  font-family: 'Hey Comic';
  font-size: 48px;
  text-align: center;
  color: rgb(245, 230, 216); 
  margin-bottom: 400px;
  background-color: rgba(0, 0, 0, 0.59); 
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.get-started-button {
  font-family: 'Hey Comic';
  font-size: 40px;
  animation: pulse 2s infinite;
  border-radius: 20px;
  margin-bottom: 200px;
  box-shadow: 0 0 10px rgb(255, 247, 0);
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Home Component */
h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

button {
  background-color: coral;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color:rgb(255, 94, 35);
}

.navbar-container {
  background-color: rgba(23, 0, 37, 0.7);
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}

.nav-links a:hover {
  color: #ff6f61;
}

.logout-button,
.nav-auth-links {
  display: flex; 
}

.logout-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.nav-auth-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}

.nav-auth-links a:hover {
  color: #ff6f61;
}

.auth-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.auth-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

 .auth-form input{
  width: 93.5%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
} 

.auth-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.auth-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.all-recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.recipe-container {
  background-color: #f0f0f0c1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

#recipe-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.pageButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageButtons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  height: 40px;
  display: flex; 
  align-items: center; 
}

.pageButtons button:hover {
  background-color: #0056b3;
}

.recipe-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-details h2 {
  font-size: 24px;
}

.recipe-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.recipe-details p {
  font-size: 16px;
  line-height: 1.6;
}

.recipe-details h3 {
  font-size: 20px;
}

.recipe-details ul {
  list-style: none;
  padding: 0;
}

.recipe-details li {
  margin-bottom: 8px;
}

.single-recipe-container {
background-color: rgb(249, 247, 220);
padding: 10px;
}

.ingredients-container {
  color: #222020;
  padding: 20px;
  font-family: 'Hey Comic';
  font-size: 22px;
}


.ingredients-container h1 {
  font-family: 'Hey Comic';
  font-size: 40px;
  text-align: center;
  color: rgb(254, 242, 242);
  margin-bottom: 10px;
}

.ingredients-container h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.ingredients-container label {
  display: block;
  margin-bottom: 8px;
}

.ingredients-container input[type="radio"],
.ingredients-container input[type="checkbox"] {
  margin-right: 10px;
  font-family: 'Hey Comic';
  font-size: 22px;
}

.ingredients-container button {
    font-family: 'Hey Comic';
    font-size: 40px;
    animation: pulse 2s infinite;
    border-radius: 20px;
    margin-bottom: 200px;
    box-shadow: 0 0 10px rgb(255, 247, 0);
  align-self: center;
}

.ingredients-container .ingredient-category {
  margin-bottom: 20px;
}

.ingredients-container .ingredient-category h2 {
  font-size: 18px;
}

.ingredients-container .ingredient-item {
  margin-bottom: 5px;
}

#dietaryRestrictions,
#mealtype,
#allIngredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 margin-bottom: 200px;
 background-color: rgba(222, 196, 171, 0.87)	
}

#dietaryRestrictions h1,
#allIngredients h2 {
  flex-basis: 100%;
}

.favorites-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorites-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.favorites-container h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.favorite-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favorite-list li {
  margin-bottom: 10px;
}

.favorite-recipe-img {
  height: 100px 
}
.favorite-link {
  color: #007bff;
  text-decoration: none;
}

.favorite-link:hover {
  text-decoration: underline;
}
